opencv-python
mediapipe
pandas
torch==1.8.1
numpy
scikit-learn
protobuf==3.19.6
cython 
unidecode
numpy 
scipy 
pandas 
matplotlib
kivy
pillow==8.4.0
ffpyplayer
gstreamer-player
PyYAML
torchvision
pingouin